:root {
    --font-source-sans: 'Source Sans Pro', sans-serif;
    --font-playfair: 'Playfair Display', serif;

    --primary-color: #DD6836;
    --secondary-color: #666666;
    --tertiary-color: #F1F1F1;

    --white-color: #FFFFFF;
    --black-color: #333333;
    --grey-color: #999999;

    --favorite-color: #999999;
    --facebook-color: #4267B2;
    --twitter-color: #1DA1F2;
    --google-color: #DB4437;
    --mail-color: #F4B400;
    --message-color: #0F9D58;
}