<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaberTürk</title>
    <link rel="stylesheet" href="../assets/css/pages/index.min.css">
</head>

<body>
    <div class="container">

        <header>

            <div class="primary">
                <div class="wrapper">
                    <div class="left">
                        <ul>
                            <li><i class="search"></i></li>
                        </ul>
                    </div>
                    <div class="center">
                        <a href="#" class="logo">
                            <img src="../assets/images/logo/haberturk-logo.svg" alt="">
                        </a>
                    </div>
                    <div class="right">
                        <ul>
                            <li><i class="menu"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="secondary">
                <div class="wrapper">
                    <ul>
                        <li><a href="#">Son Dakika</a></li>
                        <li><a href="#">Gündem</a></li>
                        <li><a href="#">Ekonomi</a></li>
                        <li><a href="#">Spor</a></li>
                        <li><a href="#">Magazin</a></li>
                        <li><a href="#">Dünya</a></li>
                        <li><a href="#">Teknoloji</a></li>
                        <li><a href="#">Sağlık</a></li>
                        <li><a href="#">Kadın</a></li>
                        <li><a href="#">Yazarlar</a></li>
                    </ul>
                </div>
            </div>

        </header>

        <section class="related-news">
            <ul>
                <li>
                    <a href="#">
                        <div class="left">
                            <img src="../assets/images/dummy/1x1/small/10.png" alt="">
                        </div>
                        <div class="right">
                            <div class="title">Lorem Ipsum is simply dummy text of the printing typesetting industry
                            </div>
                            <div>
                                <span class="category">Ekonomi</span>
                                <span class="point"></span>
                                <span class="time">3 saat önce</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="left">
                            <img src="../assets/images/dummy/1x1/small/11.png" alt="">
                        </div>
                        <div class="right">
                            <div class="title">Lorem Ipsum is simply dummy text of the printing typesetting industry
                            </div>
                            <div>
                                <span class="category">Ekonomi</span>
                                <span class="time">3 saat önce</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="left">
                            <img src="../assets/images/dummy/1x1/small/12.png" alt="">
                        </div>
                        <div class="right">
                            <div class="title">Lorem Ipsum is simply dummy text of the printing typesetting industry
                            </div>
                            <div>
                                <span class="category">Ekonomi</span>
                                <span class="time">3 saat önce</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="left">
                            <img src="../assets/images/dummy/1x1/small/13.png" alt="">
                        </div>
                        <div class="right">
                            <div class="title">Lorem Ipsum is simply dummy text of the printing typesetting industry
                            </div>
                            <div>
                                <span class="category">Ekonomi</span>
                                <span class="time">3 saat önce</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>

        <section class="content">

            <div class="left">

                <figure>

                    <figcaption>

                        <div class="breadcrumb">
                            <span>Haberler</span>
                            <span>Sanat</span>
                            <span>Contrart to popular belief is not simply dummy text</span>
                        </div>

                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Contrary to popular belief, Lorem Ipsum is not simply random text
                        </div>

                        <div class="share">
                            <ul>
                                <li><i class="favorite"></i></li>
                                <li>
                                    <span class="text">
                                        <div class="number">350</div>
                                        <div>favori</div>
                                    </span>
                                </li>
                                <li><i class="facebook"></i></li>
                                <li><i class="twitter"></i></li>
                                <li><i class="google-plus"></i></li>
                                <li><i class="mail"></i></li>
                                <li><i class="message"></i></li>
                            </ul>
                        </div>

                        <div class="info">
                            <span class="date">
                                <span>28.06.2018 - 10:35</span>
                                <span>Güncelleme: 28.06.2018 - 11:13</span>
                            </span>

                            <span class="subscribe">
                                <span>ABONE OL</span>
                                <i></i>
                            </span>
                        </div>

                        <div class="subtitle">
                            Aenean erat velit, suscipit et enim sed, blandit ullamcorper odio. Aliquam vitae lacinia velit, blandit cursus lacus. Etiam mattis orci eu sollicitudin molestie. Nulla at condimentum libero, a viverra sem. Praesent fermentum ipsum massa, at sodales augue vestibulum eu.
                        </div>

                    </figcaption>

                    <div class="image">
                        <img src="../assets/images/dummy/16x9/small/7.png" alt="">
                    </div>

                </figure>

                <div class="main">

                    <div class="author">

                        <div class="wrapper">
                            <i class="ht">
                                <img src="../assets/images/logo/ht-logo.svg" alt="">
                            </i>
    
                            <img class="image" src="../assets/images/dummy/1x1/small/1.png" alt="">
    
                            <div class="info">
                                <span class="name">Nilay Sena</span>
                                <span class="mail">nsena@htgazete.com.tr</span>
                            </div>
                        </div>

                    </div>

                    <div class="news-detail">

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin erat eget nisl facilisis placerat sit amet non odio. Vestibulum cursus ante neque, vitae viverra erat accumsan et.
                        </p>

                        <p>
                            Nulla ac iaculis massa. Pellentesque ultrices lorem facilisis neque elementum consectetur. Nullam placerat tellus nisi, ut maximus ligula fringilla euismod. Curabitur consectetur mi quis augue blandit, quis iaculis enim pretium. Sed ornare turpis ac est consectetur rhoncus. Mauris ac malesuada felis, sed feugiat metus. Proin pellentesque tempor purus, id auctor nulla imperdiet luctus. Donec euismod posuere consectetur. Donec ullamcorper quam eget odio dapibus iaculis.
                        </p>

                        <p>
                            Aenean erat velit, suscipit et enim sed, blandit ullamcorper odio. Aliquam vitae lacinia velit, blandit cursus lacus. Etiam mattis orci eu sollicitudin molestie. Nulla at condimentum libero, a viverra sem. Praesent fermentum ipsum massa, at sodales augue vestibulum eu. Fusce efficitur ipsum vel quam placerat, tempor mollis orci tincidunt. Cras ac rutrum neque, quis sodales dolor. Fusce vel est at sem convallis commodo. <a href="#" style="color: #dd6836">Apple</a> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        </p>

                        <p>
                            Quisque vitae odio nec lectus vulputate pharetra. Quisque a condimentum dolor. Donec scelerisque lacinia justo nec varius. Suspendisse cursus enim elit, eget elementum lorem scelerisque sollicitudin. Aenean non felis sapien. Sed viverra, tortor at fermentum tempus, nibh justo ornare ipsum, eu finibus dolor neque quis ipsum. Phasellus magna elit, euismod id ipsum ac, semper faucibus nibh. Praesent molestie nulla pretium felis blandit, ac faucibus justo consectetur. Mauris non viverra augue, nec euismod erat. Donec posuere nec urna in porttitor. Etiam mattis erat et augue ullamcorper, sit amet pretium dolor facilisis. Aliquam in arcu nisl. Donec condimentum elit sed laoreet dignissim. Ut at iaculis ante. Nunc nibh nulla, tincidunt vehicula euismod in, lacinia a nisi.
                        </p>

                        <div class="widget">
                            <div class="wrapper">
                                <div class="image">
                                    <img src="../assets/images/dummy/16x9/small/9.png" alt="">
                                </div>
                                <div class="text">
                                    Quisque vitae odio nec lectus vulputate pharetra. Quisque a condimentum dolor. Donec scelerisque lacinia justo nec varius.
                                </div>
                            </div>
                        </div>

                        <p>
                            Nulla ac iaculis massa. Pellentesque ultrices lorem facilisis neque elementum consectetur. Nullam placerat tellus nisi, ut maximus ligula fringilla euismod. Curabitur consectetur mi quis augue blandit, quis iaculis enim pretium. Sed ornare turpis ac est consectetur rhoncus. Mauris ac malesuada felis, sed feugiat metus. Proin pellentesque tempor purus, id auctor nulla imperdiet luctus. Donec euismod posuere consectetur. Donec ullamcorper quam eget odio dapibus iaculis. Aenean erat velit, suscipit et enim sed, blandit ullamcorper odio. Aliquam vitae lacinia velit, blandit cursus lacus. Etiam mattis orci eu sollicitudin
                        </p>

                        <p>
                            Nulla ac iaculis massa. Pellentesque ultrices lorem facilisis neque elementum consectetur. Nullam placerat tellus nisi, ut maximus ligula fringilla euismod. Curabitur consectetur mi quis augue blandit, quis iaculis enim pretium. Sed ornare turpis ac est consectetur rhoncus. Mauris ac malesuada felis, sed feugiat metus. Proin pellentesque tempor purus, id auctor nulla imperdiet
                        </p>

                        <div class="quotation">
                            <div class="word">
                                Pellentesque sed ipsum sodales turpis aliquet porttitor in quis eros. Phasellus placerat risus nisl, ac aliquet felis tincidunt et. Donec suscipit
                            </div>
                            <div class="person">
                                Ut at iaculis ante. Nunc nibh nulla
                            </div>
                        </div>

                        <p>
                            Nulla ac iaculis massa. Pellentesque ultrices lorem facilisis neque elementum consectetur. Nullam placerat tellus nisi, ut maximus ligula fringilla euismod. Curabitur consectetur mi quis augue blandit, quis iaculis enim pretium. Sed ornare turpis ac est consectetur rhoncus. Mauris ac malesuada felis, sed feugiat metus. Proin pellentesque tempor purus, id auctor nulla imperdiet luctus. Donec euismod posuere consectetur. Donec ullamcorper quam eget odio dapibus iaculis.
                        </p>

                        <p>
                            Aenean erat velit, suscipit et enim sed, blandit ullamcorper odio. Aliquam vitae lacinia velit, blandit cursus lacus. Etiam mattis orci eu sollicitudin molestie. Nulla at condimentum libero, a viverra sem. Praesent fermentum ipsum massa, at sodales augue vestibulum eu. Fusce efficitur ipsum vel quam placerat, tempor mollis orci tincidunt. Cras ac rutrum neque, quis sodales dolor. Fusce vel est at sem convallis commodo. <a href="#" style="color: #dd6836">Microsoft</a> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        </p>

                        <p>
                            Quisque vitae odio nec lectus vulputate pharetra. Quisque a condimentum dolor. Donec scelerisque lacinia justo nec varius. Suspendisse cursus enim elit, eget elementum lorem
                        </p>

                        <div class="widget">

                            <div class="wrapper">
                                <div class="image">
                                    <img src="../assets/images/dummy/16x9/small/8.png" alt="">
                                </div>
                                <div class="text">
                                    Quisque vitae odio nec lectus vulputate pharetra. Quisque a condimentum dolor. Donec scelerisque lacinia justo nec varius.
                                </div>
                            </div>

                            <div class="wrapper">
                                <div class="image">
                                    <img src="../assets/images/dummy/16x9/small/10.png" alt="">
                                </div>
                                <div class="text">
                                    Quisque vitae odio nec lectus vulputate pharetra. Quisque a condimentum dolor. Donec scelerisque lacinia justo nec varius.
                                </div>
                            </div>

                        </div>

                        <p>
                            Nulla ac iaculis massa. Pellentesque ultrices lorem facilisis neque elementum consectetur. Nullam placerat tellus nisi, ut maximus ligula fringilla euismod. Curabitur consectetur mi quis augue blandit, quis iaculis enim pretium. Sed ornare turpis ac est
                        </p>

                        <p>
                            consectetur rhoncus. Mauris ac malesuada felis, sed feugiat metus. Proin pellentesque tempor purus, id auctor nulla imperdiet luctus. Donec euismod posuere consectetur. Donec ullamcorper quam eget odio dapibus iaculis. Aenean erat velit, suscipit et enim sed, blandit ullamcorper odio.
                        </p>

                        <div class="journal-news">

                           <div class="wrapper">
                                <div class="title">
                                    GÜNDEMDEN HABERLER
                                </div>

                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">

                                            <div class="image">
                                                <img src="../assets/images/dummy/1x1/small/11.png" alt="">
                                            </div>
                                            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, itaque.</div>

                                        </div>
                                        <div class="swiper-slide">

                                            <div class="image">
                                                <img src="../assets/images/dummy/1x1/small/3.png" alt="">
                                            </div>
                                            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, itaque.</div>

                                        </div>
                                        <div class="swiper-slide">

                                            <div class="image">
                                                <img src="../assets/images/dummy/1x1/small/4.png" alt="">
                                            </div>
                                            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, itaque.</div>

                                        </div>
                                        <div class="swiper-slide">

                                            <div class="image">
                                                <img src="../assets/images/dummy/1x1/small/5.png" alt="">
                                            </div>
                                            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, itaque.</div>

                                        </div>
                                        <div class="swiper-slide">

                                            <div class="image">
                                                <img src="../assets/images/dummy/1x1/small/6.png" alt="">
                                            </div>
                                            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, itaque.</div>

                                        </div>
                                        <div class="swiper-slide">

                                            <div class="image">
                                                <img src="../assets/images/dummy/1x1/small/7.png" alt="">
                                            </div>
                                            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, itaque.</div>

                                        </div>
                                        <div class="swiper-slide">

                                            <div class="image">
                                                <img src="../assets/images/dummy/1x1/small/8.png" alt="">
                                            </div>
                                            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, itaque.</div>

                                        </div>
                                        <div class="swiper-slide">

                                            <div class="image">
                                                <img src="../assets/images/dummy/1x1/small/9.png" alt="">
                                            </div>
                                            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, itaque.</div>

                                        </div>


                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                           </div>
                        </div>

                        <p>
                            Nulla ac iaculis massa. Pellentesque ultrices lorem facilisis neque elementum consectetur. Nullam placerat tellus nisi, ut maximus ligula fringilla euismod. Curabitur consectetur mi quis augue blandit, quis iaculis enim pretium. Sed ornare turpis ac est consectetur rhoncus. Mauris ac malesuada felis, sed feugiat metus. Proin pellentesque tempor
                        </p>

                        <p>
                            purus, id auctor nulla imperdiet luctus. Donec euismod posuere consectetur. Donec ullamcorper quam eget odio dapibus iaculis.
                        </p>

                        <p>
                            Aenean erat velit, suscipit et enim sed, blandit ullamcorper odio. Aliquam vitae lacinia velit, blandit cursus lacus. Etiam mattis orci eu sollicitudin molestie. Nulla at condimentum libero, a viverra sem. Praesent fermentum ipsum massa, at sodales augue vestibulum eu. Fusce efficitur
                        </p>

                        <div class="newsletter">

                            <div class="wrapper">
                                <div class="form-newsletter">

                                    <div class="text">
                                        “Günün manşetlerini ve en çok okunan haberlerini her sabah e-postanızdan takip etmek için Habertürk bültene üye olun.”
                                    </div>

                                    <form>
                                        <input type="text" class="textbox" name="mail" placeholder="E-posta adresinizi yazınız!">
                                        <button type="submit" class="button">
                                            <i class="submit-icon"></i>
                                        </button>
                                    </form>

                                </div>

                            </div>
                        </div>

                        <p>
                            Nulla ac iaculis massa. Pellentesque ultrices lorem facilisis neque elementum consectetur. Nullam placerat tellus nisi, ut maximus ligula fringilla euismod. Curabitur consectetur mi quis augue blandit, quis iaculis enim pretium. Sed ornare turpis ac est consectetur rhoncus. Mauris ac malesuada felis, sed feugiat metus. Proin pellentesque tempor
                        </p>

                        <p>
                            Etiam mattis erat et augue ullamcorper, sit amet pretium dolor facilisis. Aliquam in arcu nisl. Donec condimentum elit sed laoreet dignissim. Ut at iaculis ante.
                        </p>
                    </div>

                    <div class="category-area">

                        <ul class="list">
                            <li>
                                moda
                            </li>
                            <li>
                                sanat
                            </li>
                            <li>
                                tasarım
                            </li>
                            <li>
                                eğlence
                            </li>
                            <li>
                                stil
                            </li>
                            <li>
                                defile
                            </li>
                            <li>
                                sergi
                            </li>
                        </ul>

                    </div>

                    <div class="comment-area">

                        <div class="title">
                            <span class="title">YORUMLAR</span>
                            <span class="comment-rules">Yorum kurallarını okumak için tıklayınız!</span>
                            <a class="cls-btn" href="#">
                                <i class="close"></i>
                            </a>
                        </div>

                        <div class="reply border-dsh">
                            <form>
                                <input type="text" class="comment" name="comment" placeholder="Sende düşüncelerini paylaş!">
                                <button type="submit" class="button">GÖNDER</button>
                            </form>
                        </div>

                        <ul class="list">

                            <li class="item">

                                <div class="wrapper">

                                    <img src="../assets/images/avatar/avatar-1.svg" class="avatar">
                                    <span>
                                        <div class="name">Kenan Gündoğan</div>
                                        <div class="time">2 Saat Önce</div>
                                        <div class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. A asperiores itaque perspiciatis recusandae, at qui architecto dolor fuga libero quasi. </div>
                                    </span>
        
                                    <div class="buttons">
                                        <span class="btn-reply" >
                                            CEVAPLA
                                        </span>
        
                                        <span class="btn">
                                            <i class="dislike"></i>
                                        </span>
        
                                        <span class="btn">
                                            <i class="like"></i>
                                        </span>
                                    </div>

                                </div>

                                <div class="popup">
                                    <form>
                                        <input type="text" class="comment" name="comment" placeholder="Sende düşüncelerini paylaş!">
                                        <button type="submit" class="button">GÖNDER</button>
                                    </form>
                                </div>
                                
                            </li>

                            <li class="item">

                                <div class="wrapper">

                                    <img src="../assets/images/avatar/avatar-2.svg" class="avatar">
                                    <span>
                                        <div class="name">Kenan Gündoğan</div>
                                        <div class="time">2 Saat Önce</div>
                                        <div class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. A asperiores itaque perspiciatis recusandae, at qui architecto dolor fuga libero quasi. </div>
                                    </span>
        
                                    <div class="buttons">
                                        <span class="btn-reply" >
                                            CEVAPLA
                                        </span>
        
                                        <span class="btn">
                                            <i class="dislike"></i>
                                        </span>
        
                                        <span class="btn">
                                            <i class="like"></i>
                                        </span>
                                    </div>

                                </div>

                                <div class="popup">
                                    <form>
                                        <input type="text" class="comment" name="comment" placeholder="Sende düşüncelerini paylaş!">
                                        <button type="submit" class="button">GÖNDER</button>
                                    </form>
                                </div>
                                
                            </li>

                            <li class="item">

                                <div class="wrapper">

                                    <img src="../assets/images/avatar/avatar-4.svg" class="avatar">
                                    <span>
                                        <div class="name">Kenan Gündoğan</div>
                                        <div class="time">2 Saat Önce</div>
                                        <div class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. A asperiores itaque perspiciatis recusandae, at qui architecto dolor fuga libero quasi. </div>
                                    </span>
        
                                    <div class="buttons">
                                        <span class="btn-reply" >
                                            CEVAPLA
                                        </span>
        
                                        <span class="btn">
                                            <i class="dislike"></i>
                                        </span>
        
                                        <span class="btn">
                                            <i class="like"></i>
                                        </span>
                                    </div>

                                </div>

                                <div class="popup">
                                    <form>
                                        <input type="text" class="comment" name="comment" placeholder="Sende düşüncelerini paylaş!">
                                        <button type="submit" class="button">GÖNDER</button>
                                    </form>
                                </div>
                                
                            </li>

                        </ul>

                        <div class="show-more">
                            <a href="#">
                                ÖNCEKİ YORUMLARI GÖSTER (192)
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="right">

                <div class="adv">
                    <img src="../assets/images/dummy/1x1/small/6.png" alt="">
                </div>

                <div class="primary list">

                    <div class="title">
                        İLGİNİZİ ÇEKEBİLİR
                    </div>

                    <div class="item">
                        <div class="left">
                            <div class="title">
                                There are many variations of passages of Lorem Ipsum
                            </div>
                            <div class="time">
                                2 saat önce
                            </div>
                        </div>

                        <div class="right">
                            01
                        </div>
                    </div>

                    <div class="item">
                        <div class="left">
                            <div class="title">
                                There are many variations of passages of Lorem Ipsum
                            </div>
                            <div class="time">
                                2 saat önce
                            </div>
                        </div>

                        <div class="right">
                            02
                        </div>
                    </div>

                    <div class="item">
                        <div class="left">
                            <div class="title">
                                There are many variations of passages of Lorem Ipsum
                            </div>
                            <div class="time">
                                2 saat önce
                            </div>
                        </div>

                        <div class="right">
                            03
                        </div>
                    </div>

                    <div class="item">
                        <div class="left">
                            <div class="title">
                                There are many variations of passages of Lorem Ipsum
                            </div>
                            <div class="time">
                                2 saat önce
                            </div>
                        </div>

                        <div class="right">
                            04
                        </div>
                    </div>

                </div>

                <div class="secondary">
                    <img class="adv" src="../assets/images/dummy/1x2/large/1.png" alt="">
                </div>

                <div class="tertiary list">

                    <div class="title">
                        İLGİNİZİ ÇEKEBİLİR
                    </div>

                    <div class="item">

                        <div class="number">
                            1
                        </div>

                        <div class="image">
                            <img src="../assets/images/dummy/1x1/small/2.png" alt="">
                        </div>

                        <div class="wrapper">
                            <div class="category">
                                Sanat
                            </div>
                            <div class="title">
                                Contrary to popular belief, Lorem Ipsum is not simply random text.
                            </div>
                        </div>

                    </div>

                    <div class="item">

                        <div class="number">
                            2
                        </div>

                        <div class="image">
                            <img src="../assets/images/dummy/1x1/small/3.png" alt="">
                        </div>

                        <div class="wrapper">
                            <div class="category">
                                Sanat
                            </div>
                            <div class="title">
                                Contrary to popular belief, Lorem Ipsum is not simply random text.
                            </div>
                        </div>

                    </div>

                    <div class="item">

                        <div class="number">
                            3
                        </div>

                        <div class="image">
                            <img src="../assets/images/dummy/1x1/small/5.png" alt="">
                        </div>

                        <div class="wrapper">
                            <div class="category">
                                Sanat
                            </div>
                            <div class="title">
                                Contrary to popular belief, Lorem Ipsum is not simply random text.
                            </div>
                        </div>

                    </div>

                    <div class="item">

                        <div class="number">
                            4
                        </div>

                        <div class="image">
                            <img src="../assets/images/dummy/1x1/small/3.png" alt="">
                        </div>

                        <div class="wrapper">
                            <div class="category">
                                Sanat
                            </div>
                            <div class="title">
                                Contrary to popular belief, Lorem Ipsum is not simply random text.
                            </div>
                        </div>

                    </div>

                    <div class="item">

                        <div class="number">
                            5
                        </div>

                        <div class="image">
                            <img src="../assets/images/dummy/1x1/small/4.png" alt="">
                        </div>

                        <div class="wrapper">
                            <div class="category">
                                Sanat
                            </div>
                            <div class="title">
                                Contrary to popular belief, Lorem Ipsum is not simply random text.
                            </div>
                        </div>

                    </div>

                </div>

                <div class="quaternary">

                    <div class="item">
                        <div class="image">
                            <img src="../assets/images/dummy/16x9/small/7.png" alt="">
                        </div>

                        <div class="wrapper">
                            <span class="category">
                                Sanat
                            </span>

                            <span class="time">
                                2 Saat Önce
                            </span>
                        </div>

                        <div class="title">
                            Quisque vitae odio nec lectus vulputate pharetra. Quisque a condimentum dolor.
                        </div>
                    </div>

                    <div class="item-2">

                        <div class="item">
                            <div class="image">
                                <img src="../assets/images/dummy/1x1/small/3.png" alt="">
                            </div>

                            <div class="wrapper">
                                <span class="category">
                                    Sanat
                                </span>

                                <span class="time">
                                    2 Saat Önce
                                </span>
                            </div>

                            <div class="title">
                                Quisque vitae odio nec lectus vulputate pharetra. Quisque a condimentum dolor.
                            </div>
                        </div>

                        <div class="item">
                            <div class="image">
                                <img src="../assets/images/dummy/1x1/small/4.png" alt="">
                            </div>

                            <div class="wrapper">
                                <span class="category">
                                    Sanat
                                </span>

                                <span class="time">
                                    2 Saat Önce
                                </span>
                            </div>

                            <div class="title">
                                Quisque vitae odio nec lectus vulputate pharetra. Quisque a condimentum dolor.
                            </div>
                        </div>
                    </div>

                </div>

                <div class="adv">
                    <img src="../assets/images/dummy/1x1/small/7.png" alt="">
                </div>
            </div>

        </section>

        <section class="category-widget">
            <div class="text">
                BAKMADAN GEÇME
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="category">
                            SANAT
                        </div>
                        <img src="../assets/images/dummy/1x1/small/2.png" alt="">
                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category">
                            SANAT
                        </div>
                        <img src="../assets/images/dummy/1x1/small/3.png" alt="">
                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category">
                            SANAT
                        </div>
                        <img src="../assets/images/dummy/1x1/small/4.png" alt="">
                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category">
                            SANAT
                        </div>
                        <img src="../assets/images/dummy/1x1/small/5.png" alt="">
                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category">
                            SANAT
                        </div>
                        <img src="../assets/images/dummy/1x1/small/6.png" alt="">
                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category">
                            SANAT
                        </div>
                        <img src="../assets/images/dummy/1x1/small/7.png" alt="">
                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category">
                            SANAT
                        </div>
                        <img src="../assets/images/dummy/1x1/small/8.png" alt="">
                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category">
                            SANAT
                        </div>
                        <img src="../assets/images/dummy/1x1/small/9.png" alt="">
                        <div class="title">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </div>
                    </div>


                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <section class="news-letter">

            <div class="logo">
                <img src="../assets/images/logo/haberturk-logo.svg">
            </div>

            <div class="text">
                “Günün manşetlerini ve en çok okunan haberlerini her sabah e-postanızdan takip etmek için Habertürk bültene üye olun.”
            </div>

            <form>
                <input type="text" class="textbox" name="mail" placeholder="E-posta adresinizi yazınız!">

                <button type="submit" class="button">
                    <i class="submit-icon"></i>
                </button>
            </form>

        </section>

        <footer>

            <div class="primary">
                <ul class="brands">
                    <li>
                        <a href="#">
                            <img src="../assets/images/logo/showtv.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/logo/showmax.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/logo/showturk.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/logo/bloomberght.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/logo/businessht.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/logo/htkulup_logo.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/logo/ht-emlak.svg">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="secondary">
                <ul class="list">
                    <li><a href="#">Son Dakika Haberleri</a></li>
                    <li><a href="#">Magazin Haberleri</a></li>
                    <li><a href="#">Spor Haberleri</a></li>
                    <li><a href="#">Ekonomi Haberleri</a></li>
                    <li><a href="#">Yerel Haberler</a></li>
                </ul>

                <ul class="list">
                    <li><a href="#">Köşe Yazıları</a></li>
                    <li><a href="#">Gündem</a></li>
                    <li><a href="#">Dünya</a></li>
                    <li><a href="#">Yeni Medya</a></li>
                    <li><a href="#">Sağlık</a></li>
                </ul>

                <ul class="list">
                    <li><a href="#">Sanat</a></li>
                    <li><a href="#">Borsa</a></li>
                    <li><a href="#">Altın</a></li>
                    <li><a href="#">Süper Lig</a></li>
                    <li><a href="#">Futbol</a></li>
                </ul>

                <ul class="list">
                    <li><a href="#">Basketbol</a></li>
                    <li><a href="#">Sinema</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">TV Rehberi</a></li>
                    <li><a href="#">Kullanım Koşulları</a></li>
                </ul>

                <ul class="list">
                    <li><a href="#">Gizlilik Sözleşmesi</a></li>
                    <li><a href="#">Döviz</a></li>
                    <li><a href="#">Hamilelik</a></li>
                    <li><a href="#">Diziler</a></li>
                    <li><a href="#">Piyasalar</a></li>
                </ul>

                <ul class="list">
                    <li><a href="#">Künye</a></li>
                    <li><a href="#">OKUR HATTI:</a></li>
                    <li><a href="#">(0212) 313 60 00 PBX</a></li>
                </ul>

            </div>

            <div class="tertiary">

                <div class="copyright item">
                    www.haberturk.com internet sitesinde yayınlanan yazı, haber, video ve fotoğrafların her türlü hakkı Haberturk Gazetecilik A.Ş.’ye aittir. <br> İzin alınmadan, kaynak gösterilerek dahi iktibas edilemez.
                </div>

                <div class="copyright item">
                    Copyright © 2018 - Tüm hakları saklıdır. Habertürk Gazetecilik A.Ş.
                </div>

                <div class="copyright">
                    <span>Üretim ve Tasarım</span>
                    <img src="../assets/images/logo/ciner-logo.svg">
                    <span>Bilgi Grubu</span>
                </div>
            </div>

            <button id="scrollToTopBtn"></button>
        </footer>

    </div>
    <script src="../assets/js/vendors/swiper/swiper-7-3-3.min.js"></script>
    <script src="../assets/js/pages/index.min.js"></script>
</body>

</html>